@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: 250px;
    background-color: rgba(0, 0, 255, 0.959);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
}
header p{
    font-size: 1.2rem;
    margin-top: 20px;
}
header h1{
    font-size: 2.4rem;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    
    
}
.container1{
    display: flex;
    justify-content: space-around;
}
.casa{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 400px;
    align-items: center;
    margin: 20px;
    height: 400px;
    
    
}
.casa img{
    width: 380px;
    height: 300px;
    display: flex;
    align-items: center;
    

}

.casa p {
    text-align: center;
    font-size: 1.5rem;
    color: blue;
}
.casa .comentario{
    color: blue;
    font-size: 1.2rem;
}
.lista{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
    
.lista h1 {
    color: blue;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
}
ul{
    display: flex;
    color: blue;
    flex-direction: column;
    width: 700px;
    border: 2px solid blue;
    margin: 10px 10px;
    list-style: none;

}
i{
    top: 17px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    

}
li{
    padding: 10px;
    margin-left: 60px;
}
.fim{
    width: 100%;
    color: blue;
    font-size: 1.6rem;
    margin: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
@media(max-width: 700px){
    header{
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        text-align: center;
        height: 350px;
        margin-left: 5px;
    }
header img{
    width: 180px;
    position: relative;
    top: 5px;
    right: 20px;
    
    }
header p{
    padding: 5px;
    font-size: 0.9rem;
    margin-bottom: 20px;

}
header h1 {
    margin-left: 10px;
    font-size: 2rem;
    padding: 10px;
    
}
.casa {
    width: 340px;

}
.casa img {
    width: 320px;
}
.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    
 }

.lista {
    margin-left: 45px;
    align-items: center;
 }
 
ul{
    width: 320px;
    display: flex;
    flex-direction: column;
}
li{
    font-size: 1rem;
 }
 }
