@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 250px;
    background-color: white;
    color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
}
header p{
    font-size: 1.6rem;
    margin-top: 20px;
}
header h1{
    font-size: 2.5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    
    
}

.casa{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 400px;
    align-items: center;
    margin: 20px;
    height: 500px;
    
    
}
.casa img{
    width: 380px;
    height: 300px;
    display: flex;
    align-items: center;
    

}
.casa h2{
    text-align: center;
    font-size: 2rem;
    color: blue;
}

.casa p {
    text-align: center;
    font-size: 1.5rem;
    color: blue;
}
.casa .comentario{
    color: blue;
    font-size: 1.2rem;
}
.lista{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
    
.lista h1 {
    color: blue;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
}
ul{
    display: flex;
    color: blue;
    flex-direction: column;
    width: 700px;
    border: 2px solid blue;
    margin: 10px 10px;
    list-style: none;

}
i{
    top: 17px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    

}
li{
    padding: 10px;
    margin-left: 60px;
    font-size: 1.2rem;
}
.taxa{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.taxa h2{
    color: blue;
    text-align: center;
}
.taxa ul{
    display: flex;
    color: blue;
    flex-direction: column;
    width: 700px;
    border: 2px solid blue;
    margin: 10px 10px;
    list-style: none;

}
.fim{
    width: 100%;
    color: blue;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.texto{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto h1{
    color: blue;
    text-align: center;
    font-size:1.9rem;
    margin-top: 20px;
}
.texto p {
    font-size: 1.2rem;
    text-align: center;
    color: blue;
    margin-top: 20px;
}
.texto img{
    width: 550px;
    border: 2px solid blue;
    border-radius: 10px;
}
.iframe{
    width: 650px;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.iframe iframe{
    border-radius: 10px;
    width: 600px;   

}
h1 {
    color: blue;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin: 20px;
}
p {
    color: blue;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    margin: 20px;

}
.sol  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   

}
.sol h2{
    color: blue;
    font-size: 1.8rem;
}
.sol img {
    width: 200px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer img{
    width: 200px;
}
.equipe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    
}
.equipe img{
    width: 500px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 10px;
}
.equipe p{
    text-align: center;
    font-size: 1.5rem;
}
.conteudo h1{
    font-size: 3rem;
}
.conteudo h2{
    color: blue;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.conteudo img{
    width: 600px;
    border: 2px solid blue;
    border-radius: 10px;
}
.conteudo p{
    font-size: 1.5rem;
}
.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapa img {
    width: 600px;
}
.mapa p{
    font-size: 1.5rem;
}
hr{
    background-color: blue;
    width: 500px;
    height: 3px;
    margin-left: 450px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.galeria{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.galeria img {
    width: 300px;
    height: 200px;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 10px;
}

@media(max-width: 700px){
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 350px;
    }
header img{
    width: 200px;
    position: relative;
    top: 5px;
    right: 20px;
    
    }
header p{
    padding: 5px;
    font-size: 1.5rem;
    margin-bottom: 20px;

}
header h1 {
    margin-left: 10px;
    font-size: 2.2rem;
    padding: 10px;
    
}
.iframe{
    width: 360px;
    margin-top: 20px;
    
    
}
.iframe iframe{
    width: 350px;   
}


.casa {
    width: 340px;
    flex-direction: column;

}
.casa img {
    width: 320px;
}
.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }

 
ul{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    text-align: center;
}
li{
    font-size: 1rem;
 }
 
 .taxa ul{
    width: 320px;
 }
 .texto {
    justify-content: center;
 }
 i{
    margin-right: 140px;
    top: 15px;
 }
 .texto img{
    width: 340px;
 }
 .equipe{
    flex-direction: column;
    
 }
 .equipe img{
    width: 340px;
 }
 hr{
    width: 200px;
    margin-left: 80px;
 }
 .conteudo img{
    width: 340px;
 }
.conteudo p{
    font-size: 1.3rem;
}
 .mapa img {
    width: 350px;
    
 }

    
    
  .galeria{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


 .galeria img{
    width: 150px;
    height: 90px;
    

 }
 
 }
