@charset "UTF-8";
* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}


header{
   display: flex;
   justify-content: space-around;
   color: blue;
   padding: 15px 15px;
   text-align: center;
   align-items: center;
   height: 150px;
   
   
}



nav a{
   margin-top: 20px;
   font-size: 1.5rem;
}
a{
   font-size: 1.2rem;
   justify-content: space-between;
   margin-top: 5px;
   margin-right: 5px;
   text-decoration: none;
   color: blue;
   cursor: pointer;
   padding: 5px 5px;
   
}

@media(max-width: 700px){
   header{ flex-direction: column;margin: 5px 5px; }
   header nav{ text-align: center; align-items: center;justify-content: space-around;}
}
header img{
   margin-top: 20px;
   width: 200px;
   height: 200px;
   
}

.btn , a:hover{
color: white;
background-color: blue;
}
.capa{
   background-image: url("imagens/energy.jpg");
   background-repeat: no-repeat;
   min-height: 100vh;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-position: center;
   margin-bottom: 20px;
   

  
}
.capa h1{
   color: white;
   text-align:  center;
   font-size: 2rem;
   margin-bottom: 150px;
   font-weight: bolder;
}
.capa p{
   margin-top: 230px;
   color: white;
   font-size: 1.4rem;
   text-align: center;
   font-weight: bolder;
}
@media(max-width: 700px){
   .capa { background-image: url("imagens/energy1.jpg"); margin-top: -30px;align-items: center;height: 270px;}
   .capa h1{font-size: 1.3rem; margin-bottom: 50px;font-weight: bolder;}
   .capa p{ font-size: 0.9rem; margin-top: 50px;font-weight: bolder;}
   
}
.quem-somos{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.quem-somos img{
   width: 400px;
   height: 400px;
   border-radius: 10px;
}
.quem-somos h2{
   font-size: 2.5rem;
   align-items: center;
   color: blue;
   margin: 20px 0px;
   text-align: left;
}

.quem-somos p{
   width: 300px;
   margin: 15px 20px;
   color: blue;
   font-size: 1.2rem;
}
.quem-somos a{
   border: 2px solid blue;
   border-radius: 5px;
   font-weight: 700;
}
@media(max-width: 700px){
   .quem-somos{flex-direction: column;display: flex;align-items: center;text-align: center; background-position: center; margin-top: 10px;}
   #qs{font-size: 2rem;}
   .quem-somos img{max-width: 250px;max-height: 230px;margin-bottom: 20px; padding: 5px 5px;background-position: center; align-items: center;margin-left: 20px;}
   .quem-somos h2{font-size: 1.2rem;margin-bottom: 10px; margin-left: 20px;}
   .quem-somos p{font-size: 1.1rem;text-align: center; margin-left: 30px;}
 }

.servicos{
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   margin-top: 30px;
   padding: 20px 10px;
   margin-left: 10px;
   margin-bottom: 30px;
   
}
.servicos a {
   font-weight: 700;
   border: 2px solid blue;
   border-radius: 5px;
   margin-top: 5px;
   margin-bottom: 10px;
   
}


.servicos img{
   margin: 15px 0px;
   align-items: center;
   width: 250px;
   height: 250px;
   object-fit: cover;
   border: 2px solid blue;
   border-radius: 10px;
   
   
}
.servicos h2{
   color: blue;
   text-align: center;
   margin-top: 40px;
}
@media(max-width: 700px){
   .servicos{flex-direction: column; align-items: center; background-position: center; text-align: center;}
   .servicos img{ margin-bottom: 30px; background-position: center;width: 300px;}
   .servicos h2{ text-align: center;}
   
   }
   form{
      padding: 40px;
  }
  .inputField{
      padding: 10px;
  }
  
  .inputField label {
      display: block;
      font-size: 20px;
      margin-bottom: 0.3rem;
  }
  .inputField input{
      border: 1px solid blue;
      border-radius: 5px;
      cursor: pointer;
      width: 300px;
      padding: 10px;
      margin-bottom: 5px;
  }
  .invalid{
      border: 1px solid red;
  }
  .valid{
      border: 1px solid green;
  }
  .error{
      font-size: 15px;
      color: red;
  }
  .error-hidden{
      display: none;
      
  }
  hr{
      background-color: blue;
      margin: 10px;
  }
  button{
      border-radius: 10px;
      padding: 10px;
      font-size: 20px;
      background: none;
      border: 1px solid blue;
      width: 100px;
      cursor: pointer;
      
  }
  button:hover{
      background-image:  linear-gradient(to right, #2a2a2a,#fff);
      color: white;
      border: 1px solid blue;
  
  }
  .thanks{
      padding: 40px;
      align-items: center;
      color: blue;
      font-size: 1.6rem;
  }
 
  .form{
   display: flex;
   flex-direction: column;
   padding: 20px;
   width: 600px;
   border: 2px solid blue;
   justify-content: center;
   margin: 20px 5px;
   border-radius: 10px;
   
   }
  
  .cadastro {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: space-around;
   
   
}


.cadastro h2{
   margin-top: 30px;
   margin-left: 20px;
   color: blue;
   font-weight: 700px;
   font-size: 2rem;
   font-weight: bolder;
   margin-bottom: 15px;

}
.cadastro p {
 text-align: center;
 margin: 15px 10px;
 color: blue;
}

.cadastro hr{
   width: 300px;
   height: 3px;
   color: blue;
   background-color: blue;
   align-items: center;
   margin-right: 10px;
   margin-top: 30px;
}

.conta {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
}
.form-control{
   margin-bottom: 10px;
   padding-bottom: 15px;
   position: relative;
}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{
  border: none;
  border-bottom: 1px solid blue;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 15px;
}
.form button{  
   background-color: transparent;
   font-weight: 700;
   font-size: 1.1rem;
   text-transform: uppercase;
   flex-direction: column;
   display: flex;
   border: 2px solid blue;
   border-radius: 10px;
   color: blue;
   margin: 10px 5px;
   padding: 4px 4px;
   width: 100%;
   align-items: center;
   
   
  }
  button:hover{
     cursor: pointer;
     background-color: blue;
     color: white;

  }
  input:hover{
   background-color: rgb(0, 153, 255);
   border: none;
   
}



/*

.grup h5{
   margin-top: -5px;
   margin-bottom: 70px;
   font-size: 1.7rem;
   text-align: center;
   margin-bottom: 5px;
}
.grup{
   display: flex;
   flex-direction: column;
   font-size: 1.2rem;
   padding: 10px;
   height: 300px;
   width: 100%;


}
.grupo{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;

   
}
.grupo input{
   display: block;
   padding: 10px;
   margin-top: 10px;
   margin-left: 30px;
   width: 30px;
   
   
}.grup label{
   display: block;
   margin-top: 10px;
   margin-right: 30px;
}
.termo{
   display: flex;
   margin-left: 10px;
   margin: 10px;
}
.termo label{
   margin-left: 20px;
   font-size: 0.8rem;
}
.termo strong{
   color: rgb(255, 9, 83);
   font-weight: bolder;

}


.form-control i{
   visibility: hidden;
   position: absolute;
   top: 15px;
   right: 10px;

}
.form-control small{
   position: absolute;
   bottom: 0;
   left: 0;
   visibility: hidden;
}


  
   
   
   .form-control.success input {
      border-color: #0c920c;

   }
   .form-control.error input {
      border-color: red;
      
   }
   .form-control.success i.icofont-check-circled{
      color: #0c920c;
      visibility: visible;

   }
   .form-control.error i.icofont-exclamation-circle{
      color: red;
      visibility: visible;

   }
   .form-control.error small{
      visibility: visible;
      color: red;
   }*/
   
   .caracteristicas{
      border-color: blue;
      align-items:  center;
      text-align: center;
      
   }
   
   .caracteristicas h1{
      color: blue;
      font-size: 2rem;
      text-align: center;
      
   }
    .caracteristicas p{
      text-align: center;
      color: blue;
      font-size: 1rem;
      margin: 5px 20px;
   }
   ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      

   }
  
   li{
      display: flex;
      flex-direction: column;
      padding: 15px 15px;
      text-align: center;
      
      
   }
   li i{
      font-size: 50px;
      color: blue;
   }
   .caracteristicas li a:hover{
      background-color: white;

   }
   li h2{
      color: blue;
      font-size: 2.5rem;
   }
   li p{
      color: blue;
      font-size: 1.2rem;
      text-align: center;
   }
   footer{
      background-color: blue;
      font-size: 1.3rem;
      text-align: center;
      color: white;
      margin-top: 5px;
      
      
   }
   footer p{
      margin-top: 10px;
      
      margin-bottom: 20px;
   }
   footer i{
      align-items: center;
      color: white;
      font-size: 35px;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      
   
   }
   @media(max-width: 700px){
      .caracteristicas ul, li{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin-left: 5px;
      
      }
      
      .caracteristicas p{
         font-size: 1.1em;
         text-align: center;
         margin-left: 30px;
         
      }
      .caracteristicas li,p{
        text-align: center;
        font-size: 1rem; margin-left: 2px;}
      .caracteristicas h1{ text-align: center; margin-left: 20px; font-size: 1.7rem;padding-bottom: 15px;}
      .caracteristicas h2 {text-align: center;}
      .form{
         width: 330px;
      }
      /*.grupo{
         padding: 5px;
         margin-top: 10px;  
         margin-bottom: 10px;
         
         
      }
      .grupo h5{
         margin-bottom: 10px;
         margin-right: 170px;
         margin-top: -40px;
         font-size: 1.4rem;
      }
      .grup{
         justify-content: space-between;
         overflow-x: auto;
         height: 150px;
         font-size: 0.9rem;
         margin-bottom: 30px;
         
      }
      .grup label{
         margin-right: 5px;
         
         
      }
     .grup input{
      margin-left: -10px;
     }*/

   footer{
      display: flex;
      background-color: blue;
      color: white;
      margin-top: 15px; 
      height: 250px;
      flex-direction: column;
      display: flex;
      font-size: 1.1rem;
      align-items: center;
      text-align: center;
      
      
   }
   footer p{
      text-align: center;
      margin: 5px 5px;
      
      
      
   }
   
   footer ul{
      display: flex;
      justify-content: space-around;
      
      

   }
   footer li{
      display: flex;
      flex-direction: row;
      
   }
   footer i{
      align-items: center;
      color: white;
      font-size: 25px;
   
   }
   footer p{
      color: white;
      font-size: 15px;
      padding-top: 10px;
   }
   }
   @media screen and (min-width: 768px) and (max-width: 992px){
      .quem-somos{
         flex-direction: column;
      }
      .quem-somos img{
         width: 450px;
         margin-bottom: 20px;
      }
      .servicos{
         background-color: blue;
         flex-direction: column;
      
      }
      .servicos img{
         width: 500px;
         height: 400px;
      }
   }
   
  
