@charset "UTF8";
* {
    margin: 0;
    padding: 0;
    
    
}

header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   color: blue;
   padding: 15px 15px;
   text-align: center;
   align-items: center;

   
}

header h1{
   margin-top: 15px;
   font-size: 3rem;

   
}
nav{
   margin-top: 50px;
}
a{
   font-size: 1.2rem;
   justify-content: space-between;
   margin-top: 20px;
   margin-right: 20px;
   text-decoration: none;
   color: blue;
   cursor: pointer;
   padding: 10px 20px;
}
@media(max-width: 700px){
   header{ flex-direction: column;margin: 15px;}
   header h1{ font-size: 2rem;}

}
header img{
   margin: 15px 15px;
   width: 200px;
   height: 200px;
}
header .btn{
text-decoration: none;
margin-top: 10px;
font-size: 2.5rem;
cursor: pointer;
color: white;
border-radius: 5px;


}
.btn , a:hover{
color: white;
background-color: blue;
}
.capa{
   background-image: url("energia.jpg");
   background-size: cover;
   height: 100vh;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: top;
   

  
}
.capa h1{
   color: white;
   text-align:  center;
   font-size: 2rem;
   margin-top: 15px;
}
.capa p{
   margin-top: 15px;
   color: white;
   font-size: 1.5rem;
   text-align: center;
}
@media(max-width: 700px){
   .capa { background-image: url("energia\ 1.jpg");}
   .capa img{height: 50vh;}
   .capa h1{font-size: 1.5rem;}
   .capa p{ font-size: 1rem;}
   
}
.quem-somos{
   box-sizing: border-box;
   display: flex;
   justify-content: space-around;
   margin: 15px 15px;
   align-items: center;
}
.quem-somos img{
   max-width: 350px;
   max-height: 400px;
}
.quem-somos h2{
   align-items: center;
   color: blue;
   margin: 20px 15px;
   text-align: left;
}
 .quem-somos #qs::before{
   content: "";
   width: 5px;
   height: 50px;
   margin-left: 5px;
   background-color: blue;
   position: relative;
}
.quem-somos p{
   width: 350px;
   margin: 15px 15px;
   color: blue;
   font-size: 1.3rem;
}
@media(max-width: 700px){
   .quem-somos img{max-width: 230px;max-height: 280px;margin:15px 15px;padding: 15px 15px;}
   .quem-somos h2{font-size: 1rem;margin: 15px;}
   .servicos{
      margin: 15px 15px;
   }
}

.servicos{
   max-width: 1300px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   text-align: center;
   align-items: center;
   margin: 15px 15px;
}

.servicos img{
   align-items: center;
   width: 250px;
   height: 200px;
}
.servicos h2{
   color: blue;
   text-align: center;
}
@media(max-width: 700px){
   .servicos{flex-direction: column; }
   }
   .cadastro{
      width: 100%;
      align-items: center;
   }

   form{
      display: flex;
      flex-direction: column;
      margin: 20px 10px;
      padding: 20px 10px;
      align-items: center;
      box-shadow: 4px;
      border: 2px solid blue;
      position: relative;
      z-index: -1;
      width: 250px;
      gap: 10px;
   }
   input{
      outline: none;
      border-color: black;
      border: 2px solid blue;
      color: white;
      font-size: 1rem;
   }
   label{
      margin: 3px;
   }
   button{
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-family: var(--featured-font-family);
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
  }
