@charset "UTF8";
* {
    margin: 0;
    padding: 0;
    
}
.flex-container{
   text-align: end;
   flex-direction: column;
   color: white;
   display: flex;
   margin: auto;
   padding: 10px 15px;
    
    
}
.menu{
   background-image: linear-gradient(to right, blue, rgb(84, 136, 184));
   align-items: flex-end;
   text-align: end;
   justify-content: space-between;
   display: flex;
   
}
.menu h1{
   margin: 5px;
   padding-right: 10px;
   color: white;
   text-align: center;
   font-size: 3em;
   font-weight: bolder;
   

}
.menu p{
   padding-bottom: 30px;
   font-size: 1.4em;
   font-weight: bold;
   color: white;
   
   
}
.menu nav{
   font-weight: bold;
   font-size: 1.2em;
   margin: 20px;
   color: white;
   flex-direction: column;
   justify-content: space-between;
   
   
}
.menu a {
   padding: 20px;
   color: white;
   text-decoration: none;
   border-radius: 5px;
}

.apresentacao{
   display: flex;
   margin: 10px;
   padding: 20px;
   flex-direction: row;
   color: black;
   justify-content: space-between;
   height: 300px;
   width: 450px;
   
}
.apresentacao p{
   text-align: center;
   font-size: 1.1em;
   padding-top: 20px;
   padding: 20px;
   margin: 20px;
   align-items: center;
   justify-content: space-between;
   width: 400px;
}
   
a{
   font-size: 1em;
   border-radius: 5px;
   padding: 10px;
   text-decoration: none;
}

.apresentacao img {
   padding-left: 200px;
   width: 550px;
   margin: auto;
   min-width: 320px;
}
.servicos{
   flex-wrap: nowrap;
   display: flex;
   justify-content: space-between;
   width: 320px;
   flex-direction: column;
}

a:hover{
   text-decoration: underline;
   background-color: deepskyblue;
}



 
 

