@charset "UTF8";
* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}


header{
   display: flex;
   justify-content: space-around;
   color: blue;
   padding: 15px 15px;
   text-align: center;
   align-items: center;
   
}



nav{
   margin-top: 20px;
}
a{
   font-size: 1.2rem;
   justify-content: space-between;
   margin-top: 5px;
   margin-right: 5px;
   text-decoration: none;
   color: blue;
   cursor: pointer;
   padding: 5px 5px;
   
}

@media(max-width: 700px){
   header{ flex-direction: column;margin: 5px 5px; }
   header nav{ text-align: center; align-items: center;justify-content: space-around;}
   
  

}
header img{
   margin: 15px 15px;
   width: 200px;
   height: 200px;
   
}
header .btn{
text-decoration: none;
margin-top: 10px;
font-size: 2.5rem;
cursor: pointer;
color: white;
border-radius: 5px;


}
.btn , a:hover{
color: white;
background-color: blue;
}
.capa{
   background-image: url("imagens/energy.jpg");
   background-repeat: no-repeat;
   min-height: 100vh;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-position: center;
   margin-bottom: 20px;
   

  
}
.capa h1{
   color: white;
   text-align:  center;
   font-size: 2rem;
   margin-bottom: 150px;
   font-weight: bolder;
}
.capa p{
   margin-top: 230px;
   color: white;
   font-size: 1.5rem;
   text-align: center;
   font-weight: bolder;
}
@media(max-width: 700px){
   .capa { background-image: url("imagens/energia.jpg"); margin:0px 0px;align-items: center;}
   .capa h1{font-size: 1.5rem; margin-bottom: 120px;font-weight: bolder;}
   .capa p{ font-size: 1rem; margin-top: 70px;font-weight: bolder;}
   
}
.quem-somos{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.quem-somos img{
   max-width: 400px;
   max-height: 400px;
}
.quem-somos h2{
   font-size: 2.5rem;
   align-items: center;
   color: blue;
   margin: 20px 0px;
   text-align: left;
}

.quem-somos p{
   width: 300px;
   margin: 15px 20px;
   color: blue;
   font-size: 1.2rem;
}
@media(max-width: 700px){
   .quem-somos{flex-direction: column;display: flex;align-items: center;text-align: center; background-position: center; margin-top: 10px;}
   #qs{font-size: 2rem;}
   .quem-somos img{max-width: 250px;max-height: 230px;margin-bottom: 20px; padding: 5px 5px;background-position: center; align-items: center;margin-left: 20px;}
   .quem-somos h2{font-size: 1.2rem;margin-bottom: 10px; margin-left: 20px;}
   .quem-somos p{font-size: 1.1rem;text-align: center; margin-left: 30px;}
 }

.servicos{
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   margin-top: 20px;
   padding: 20px 10px;
   margin-left: 10px;
   
}

.servicos img{
   margin: 5px 0px;
   align-items: center;
   width: 250px;
   height: 250px;
   object-fit: cover;
   border: 2px solid blue;
   
   
}
.servicos h2{
   color: blue;
   text-align: center;
}
@media(max-width: 700px){
   .servicos{flex-direction: column; align-items: center; background-position: center; text-align: center;}
   .servicos img{ margin-bottom: 30px; background-position: center;}
   .servicos h2{ text-align: center;}
   
   }
   .cadastro {
      background-color: #fafafa;
      border-radius: 10px;
      box-shadow: 0 2px 5px blue;
      width: 280px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      
      
   }

   .cadastro h2{
      margin-top: 30px;
      margin-left: 30px;
      color: blue;
      font-weight: 700px;
      font-size: 2rem;
      font-weight: bolder;
      text-decoration: underline;

   }
   
   .cadastro hr{
      width: 300px;
      height: 3px;
      color: blue;
      background-color: blue;
      align-items: center;
      margin-right: 10px;
   }

   
.form{
   padding: 20px;
   width: 280px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}
.form-control label{
   display: inline-block;
   margin-bottom: 5px;
}
.form-control input{
   border: 2px solid blue;
   display: block;
   border-radius: 10px;
   font-size: 14px;
   width: 100%;
   padding: 8px;
}
.form-control i{
   visibility: hidden;
   position: absolute;
   top: 15px;
   right: 10px;

}
.form-control small{
   position: absolute;
   bottom: 0;
   left: 0;
   visibility: hidden;
}


   input:hover{
      background-color: rgb(0, 153, 255);
      
   }
   
   .form button{  
    background-color: transparent;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    flex-direction: column;
    display: flex;
    border: 2px solid blue;
    border-radius: 10px;
    color: blue;
    margin: 5px 5px;
    padding: 4px 4px;
    width: 100%;
    align-items: center;
    
    
   }
   button:hover{
      cursor: pointer;
      background-color: blue;
      color: white;

   }
   .form-control.success input {
      border-color: #0c920c;

   }
   .form-control.error input {
      border-color: red;
      
   }
   .form-control.success i.icofont-check-circled{
      color: #0c920c;
      visibility: visible;

   }
   .form-control.error i.icofont-exclamation-circle{
      color: red;
      visibility: visible;

   }
   .form-control.error small{
      visibility: visible;
      color: red;
   }
  

      
   
   .caracteristicas{
      border-color: blue;
      align-items:  center;
      text-align: center;
      
   }
   
   .caracteristicas h1{
      color: blue;
      font-size: 2rem;
      text-align: center;
      
   }
    .caracteristicas p{
      text-align: center;
      color: blue;
      font-size: 1rem;
      margin: 5px 20px;
   }
   ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      

   }
  
   li{
      display: flex;
      flex-direction: column;
      padding: 15px 15px;
      text-align: center;
      
      
   }
   li i{
      font-size: 50px;
      color: blue;
   }
   .caracteristicas li a:hover{
      background-color: white;

   }
   li h2{
      color: blue;
      font-size: 2.5rem;
   }
   li p{
      color: blue;
      font-size: 1.2rem;
      text-align: center;
   }
   @media(max-width: 700px){
      .caracteristicas ul, li{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin-left: 5px;
      
      }
      
      .caracteristicas p{
         font-size: 1.1em;
         text-align: center;
         margin-left: 30px;
         
      }
      .caracteristicas li,p{
        text-align: center;
        font-size: 1rem; margin-left: 2px;}
      .caracteristicas h1{ text-align: center; margin-left: 20px; font-size: 1.7rem;padding-bottom: 15px;}
      .caracteristicas h2 {text-align: center;}
}
   footer{
      width: 100%;
      background-color: blue;
      color: white;
      margin-top: 15px; 
      height: 200px;
      flex-direction: column;
      display: flex;
      font-size: 1.1rem;
      align-items: center;
      text-align: center;
      
      
   }
   footer p{
      text-align: center;
      margin: 5px 5px;
      
   }
   
   footer ul{
      display: flex;
      
      

   }
   footer li{
      display: flex;
      flex-direction: row;
      
   }
   footer i{
      align-items: center;
      color: white;
      font-size: 25px;
   
   }
   footer p{
      color: white;
      font-size: 15px;
      padding-top: 10px;
   }

   
  
