@charset "UTF8";
* {
    margin: 0;
    padding: 0;
    
}
.flex-container{
    display: flex;
    margin: auto;
    padding: 10px 15px;
}

header {
   background-color: cadetblue;
   height: 150px;
   margin-top: 20px;
   color: white;
   }
   header p{
      padding-top: 20px;
      margin: 20px;
      
   }
   header h1 {
      padding-top: 10px;
      margin: 15px;
      
   }
   header h2 {
      margin: 15px;

  }
  
 



   
 

