@charset "UTF8";
* {
    margin: 0;
    padding: 0;   
}


header{
   width: 100%;
   display: flex;
   justify-content: space-around;
   color: blue;
   padding: 15px 15px;
   text-align: center;
   align-items: center;

   
}

nav{
   margin-top: 50px;
}
a{
   font-size: 1.2rem;
   justify-content: space-between;
   margin-top: 20px;
   margin-right: 20px;
   text-decoration: none;
   color: blue;
   cursor: pointer;
   padding: 10px 20px;
}
@media(max-width: 700px){
   header{ flex-direction: column;margin: 5px 5px;}
   
  

}
header img{
   margin: 15px 15px;
   width: 200px;
   height: 200px;
}
header .btn{
text-decoration: none;
margin-top: 10px;
font-size: 2.5rem;
cursor: pointer;
color: white;
border-radius: 5px;


}
.btn , a:hover{
color: white;
background-color: blue;
}
.capa{
   background-image: url("imagens/energy.jpg");
   background-repeat: no-repeat;
   height: 100vh;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
   margin: 0px 200px;
   

  
}
.capa h1{
   color: white;
   text-align:  center;
   font-size: 2rem;
   margin-top: 15px;
}
.capa p{
   margin-top: 15px;
   color: white;
   font-size: 1.5rem;
   text-align: center;
}
@media(max-width: 700px){
   .capa { background-image: url("imagens/energia.jpg");width: 420px;position: absolute;margin:0px 0px;align-items: center;}
   .capa img{height: 50vh;}
   .capa h1{font-size: 1.5rem;}
   .capa p{ font-size: 1rem;}
   
}
.quem-somos{
   box-sizing: border-box;
   display: flex;
   justify-content: space-around;
   margin: 15px 15px;
   align-items: center;
}
.quem-somos img{
   max-width: 350px;
   max-height: 400px;
}
.quem-somos h2{
   font-size: 2.5rem;
   align-items: center;
   color: blue;
   margin: 20px 15px;
   text-align: left;
}

.quem-somos p{
   width: 300px;
   margin: 15px 20px;
   color: blue;
   font-size: 1.2rem;
}
@media(max-width: 700px){
   .quem-somos{flex-direction: column;display: flex;align-items: center;text-align: center;margin-top: 400px;}
   #qs{font-size: 2rem;}
   .quem-somos img{max-width: 230px;max-height: 280px;margin-bottom: 20px; padding: 15px 15px;}
   .quem-somos h2{font-size: 1.2rem;margin-bottom: 10px;}
   .quem-somos p{font-size: 1.1rem;text-align: center;}
 }

.servicos{
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   margin: 20px 10px;
   padding: 10px 20px;
   
}

.servicos img{
   margin: 10px 5px;
   align-items: center;
   width: 250px;
   height: 200px;
   object-fit: cover;
   border: 2px solid blue;
   
}
.servicos h2{
   color: blue;
   text-align: center;
}
@media(max-width: 700px){
   .servicos{flex-direction: column; align-items: center;}
   .servicos img{padding-top: 30px; margin-bottom: 30px;}
   
   }
   .formulario {
      display: flex;
      justify-content: space-around;
      margin: 15px 15px;
      align-items: center;
      border: 3px solid blue;
      border-radius: 10px;
   }
   .formulario h2{
      margin: 30px 100px;
      color: blue;
      font-weight: 700px;
      font-size: 2rem;
      font-weight: bolder;
      text-decoration: underline;

   }
   .formulario .cadastro{
      margin: 30px;
      width: 300px;
      text-align: center;
      color: blue;
      font-size: 1.2rem;
      align-items: center;
   }

   form{
      background-color: white;
      color: blue;
      display: flex;
      flex-direction: column;
      margin: 15px 15px;
      padding: 10px 2px;
      align-items: center;
      max-width: 90%;
      gap: 10px;
      text-align: center;
      Border: 2px solid blue;
      border-radius: 15px;
   }
   

   
   input{
      width: 90%;
      border-radius: 7px;
      border: 2px solid blue;
      color: blue;
      font-size: 1rem;
      padding: 5px 5px; 
      border-color: blue;
      margin: 5px;
      margin-right: 25px;
      
   }
   input:hover{
      background-color: rgb(0, 153, 255);
      
   }
   
   button{  
    background-color: transparent;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
    flex-direction: column;
    display: flex;
    border: 2px solid blue;
    border-radius: 10px;
    color: blue;
    margin: 5px 55px;
    padding: 4px 4px;
    width: 80%;
    align-items: center;
    
    
   }
   button:hover{
      cursor: pointer;
      background-color: blue;
      color: white;

   }
   @media(max-width: 700px){
      .formulario{ flex-direction: column;  align-items: center;text-align: center;}
      

   }
   .caracteristicas{
      border-color: blue;
      align-items:  center;
      text-align: center;
      
   }
   
   .caracteristicas h1{
      color: blue;
      font-size: 2rem;
      text-align: center;
      
   }
    .caracteristicas p{
      text-align: center;
      color: blue;
      font-size: 1rem;
      margin: 5px 20px;
   }
   ul{
      display: flex;
      width: 100%;
      justify-content: space-around;
      

   }
  
   li{
      display: flex;
      flex-direction: column;
      padding: 15px 15px;
      text-align: center;
      
      
   }
   li{
      font-size: 50px;
      color: blue;
   }
   li h2{
      color: blue;
      font-size: 2.5rem;
   }
   li p{
      color: blue;
      font-size: 1.2rem;
      text-align: center;
   }
   @media(max-width: 700px){
      .caracteristicas ul, li{
         flex-direction: column;
         align-items: center;
         text-align: center;
      
      }
      .caracteristicas p{
         font-size: 1em;
         text-align: center;
         
      }
      .caracteristicas li,p{
        text-align: center;
        font-size: 1rem;}
   }
   footer{
      background-color: blue;
      color: white;
      margin: 15px 5px; 
      height: 250px;
      flex-direction: column;
      display: flex;
      
      align-items: center;
      
   }
   footer p{
      text-align: center;
      margin: 5px 0px;
      
   }
   
   footer ul{
      display: flex;
      
      

   }
   footer li{
      display: flex;
      flex-direction: row;
      
   }
   footer li a{
      align-items: center;
      color: white;
      font-size: 20px;
      
   }

   
  
